<div class="main-container">
  
  <div class="logo-container">

  </div>

  <div class="header-text">
    <h1>Loging</h1>
    <p>Enter your emails and password</p>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    
    <div class="input-group">
      <label for="email">Email</label>
      <div class="input-wrapper">
        <input type="email" id="email" formControlName="email" placeholder="imshuvo97@gmail.com">
        <span class="suffix-icon check" *ngIf="loginForm.get('email')?.valid && loginForm.get('email')?.dirty">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#53B175" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"></polyline></svg>
        </span>
      </div>
    </div>

    <div class="input-group">
      <label for="pass">Password</label>
      <div class="input-wrapper">
        <input [type]="showPassword ? 'text' : 'password'" id="pass" formControlName="password" placeholder="••••••••">
        <span class="suffix-icon eye" (click)="togglePasswordVisibility()">
          <svg *ngIf="!showPassword" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#7C7C7C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg>
          <svg *ngIf="showPassword" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#7C7C7C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
        </span>
      </div>
    </div>

    <div class="forgot-password">
      <a href="#">Forgot Password?</a>
    </div>

    <button type="submit" class="btn-submit" [disabled]="loginForm.invalid">Log In</button>
    
    <div class="footer-link">
      Don't have an account? <a routerLink="/signup">Singup</a>
    </div>

  </form>
</div>
